{
  "trailingComma": "es5",
  "tabWidth": 2,
  "singleQuote": false,
  "semi": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "useTabs": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false
}
